@import url("https://fonts.googleapis.com/css?family=Play|Poppins");

html {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    margin: 5px 50px 0 50px;
    background-color: rgb(240, 243, 250);
}

h2 {
    margin-left: 18px;
}

.pie-chart {
    margin-top: 40px;
}

.title {
    text-align: center;
}

.title:hover {
    transform: scale(1.02);
}

.main {
    margin-top: 30px;
    display: flex;
}

.net-worth-graph {
    width: 550px;
    margin-left: 70px;
}

.net-worth-graph:hover {
    transform: scale(1.008);
}

.card {
    margin: 0 0 30 30px;
    width: 250px;
    height: 250px;
    border-radius: 10%;
}

.card:hover {
    transform: scale(1.008);
}

.test-card {
    margin-bottom: 10px;
}

.cash {
    /* margin: 40px 0 0 250px; */
}